
<nav>
    <div class="navigation">
        <div class="logo">
            <a href="{% url 'gram:post' %}"><i class="fab fa-instagram"></i> </a>
            <a class="vl"></a>
            <a href="/">Insta</a>
        </div>
        <div class="search_bar">
            <input type="text" placeholder="Search">
            <a href="search"><i class="fas fa-search"></i></a>
        </div>
          <div class='contact_icons'>
                <a href="explore"><i class="far fa-compass"></i></a>
                <a href="#"> <i class="far fa-heart"></i> </a>
                {% if user.is_authenticated %}                   
                    <a href="{% url 'profile' %}"><i class="far fa-user"></i> </a>
                    <a href="{% url 'gram:post_create' %}"> <i class="fas fa-plus"></i></a>
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
                {% else %}
                    <a href="{% url 'login' %}"> <i class="far fa-user"></i> </a>
                {% endif %}
            </div> 
    </div>
</nav>